body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff; }

h1, h2, h3, h4, h5 {
  color: #444;
  font-weight: 600; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.align-justify {
  text-align: justify; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-italic {
  font-style: italic; }

a {
  color: #1284aa;
  text-decoration: none; }
  a:hover {
    color: #0f6987;
    text-decoration: underline; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.text-red {
  color: #d22e2e !important; }

.bg-primary {
  background: #af191a; }
  .bg-primary a {
    color: #17506b;
    font-weight: 600;
    text-decoration: none; }
    .bg-primary a:hover {
      color: #09587e;
      text-decoration: underline; }

.bg-secondary {
  background: #333; }

.text-light {
  color: #fff; }

.text-center {
  text-align: center; }

.font-serif {
  font-family: 'Open Sans', sans-serif !important; }

.linkedin-color {
  color: #0077b5; }
  .linkedin-color:hover {
    color: #0077b5; }

.facebook-color {
  color: #3b5998; }
  .facebook-color:hover {
    color: #3b5998; }

.instagram-color {
  color: #cd486b; }
  .instagram-color:hover {
    color: #cd486b; }

.twitter-color {
  color: #1DA1F2; }
  .twitter-color:hover {
    color: #1DA1F2; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  5% {
    transform: scale3d(1.1, 1.1, 1.1); }
  10% {
    transform: scale3d(0.9, 0.9, 0.9); }
  15% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  20% {
    transform: scale3d(0.97, 0.97, 0.97); }
  25% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.menu-toggle {
  display: none; }
  .menu-toggle .btn-toggle {
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0px;
    color: #fff;
    border: 2px solid #fff;
    display: block;
    width: 40px; }
    .menu-toggle .btn-toggle.active {
      background: #fff;
      color: #888; }

.nav {
  position: relative;
  z-index: 9; }
  .nav .container {
    position: relative;
    z-index: 2; }
  .nav .nav-top-container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 70px;
    width: 100%; }
  .nav.fixed {
    background-color: #333; }
    .nav.fixed .nav-top-container {
      position: relative; }
  .nav .nav-top {
    padding-top: 10px; }
    .nav .nav-top .nav-top-wrapper:after {
      display: block;
      content: " ";
      clear: both;
      float: none; }
    .nav .nav-top .nav-logo {
      padding-top: 10px;
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav .nav-top .nav-logo:hover {
        text-decoration: none; }
      .nav .nav-top .nav-logo .logo-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #af191a;
        width: 23px;
        position: relative;
        margin-right: 5px; }
        .nav .nav-top .nav-logo .logo-img img {
          width: 100%; }
      .nav .nav-top .nav-logo .logo-text {
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        display: inline-block; }
    .nav .nav-top .landing-centered {
      padding-top: 20px; }
      .nav .nav-top .landing-centered .slogan {
        display: block;
        margin-top: 30px;
        color: #fff;
        font-size: 18px;
        text-align: center;
        width: 100%; }
      .nav .nav-top .landing-centered .nav-logo {
        float: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .nav .nav-top .landing-centered .nav-logo .logo-img {
          width: 25px;
          font-size: 20px; }
        .nav .nav-top .landing-centered .nav-logo .logo-text {
          font-size: 26px; }
    .nav .nav-top .nav-menu {
      padding-top: 6px;
      float: right; }
      .nav .nav-top .nav-menu > ul {
        margin: 0px;
        list-style-type: none; }
        .nav .nav-top .nav-menu > ul:after {
          display: block;
          content: " ";
          clear: both;
          float: none; }
        .nav .nav-top .nav-menu > ul > li {
          float: left;
          list-style-type: none;
          margin-left: 30px; }
          .nav .nav-top .nav-menu > ul > li a:not(.btn-sm) {
            display: inline-block;
            font-size: 16px;
            text-decoration: none;
            font-weight: 700;
            color: #fff;
            padding-top: 7px; }
          .nav .nav-top .nav-menu > ul > li:hover a:not(.btn-sm) {
            color: #bbb; }
    .nav .nav-top.fixed {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 70px;
      background: #fff;
      background: #333;
      color: #333;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      z-index: 9;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .nav .nav-top.fixed .nav-top-wrapper {
        width: 100%;
        position: relative;
        z-index: 11; }
    .nav .nav-top.muncul {
      -webkit-transform: translateY(0px);
      transform: translateY(0px); }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: 50% 0%;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  height: 100vh; }
  .banner .layer-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    background: #243c45;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0; }
  .banner .banner-container {
    position: relative;
    z-index: 2; }
  .banner .text-banner {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 26px;
    font-weight: 700;
    padding: 0px 200px;
    margin-bottom: 40px; }
  .banner .text-banner-detail {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 0px 250px;
    margin-bottom: 40px; }
  .banner .text-banner-footer {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    display: block;
    color: #fff; }

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .section.first-section {
    padding-top: 100px; }
  .section.no-padding-top {
    padding-top: 0px; }
  .section.no-padding-bottom {
    padding-bottom: 0px; }
  .section .container {
    flex-wrap: wrap; }
  .section .section-title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    display: block;
    width: 100%;
    color: #333; }
  .section .section-sub-text {
    width: 100%;
    text-align: center;
    margin-bottom: 40px; }

.section.intro {
  height: 520px;
  position: relative; }
  .section.intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .section.intro .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section.intro .box-container .box {
      width: 70%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .section.intro .box-container .box.content {
        padding-right: 30px; }
        .section.intro .box-container .box.content .content-title {
          font-size: 32px;
          line-height: 44px;
          margin-bottom: 40px;
          font-weight: 600; }
          .section.intro .box-container .box.content .content-title .content-title-icon {
            display: inline-block;
            margin-left: 10px;
            position: relative;
            top: -2px; }
            .section.intro .box-container .box.content .content-title .content-title-icon div {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              border: 3px solid #af191a;
              font-size: 18px;
              height: 40px;
              width: 40px;
              text-align: center;
              color: #af191a;
              border-radius: 20px; }
        .section.intro .box-container .box.content .content-body {
          font-size: 16px;
          line-height: 30px;
          font-weight: 400;
          margin-bottom: 40px; }
        .section.intro .box-container .box.content .content-footer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: left;
          -ms-flex-pack: left;
          justify-content: left; }
      .section.intro .box-container .box.illustration {
        width: 30%;
        padding-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right; }
        .section.intro .box-container .box.illustration img {
          width: 200px; }

.section.divisi {
  background-color: #eee;
  position: relative; }
  .section.divisi.light {
    background-color: #fff; }
  .section.divisi.minimalist {
    height: 300px; }
  .section.divisi .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    .section.divisi .container .box-container {
      padding-bottom: 20px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -ms-flex-align: top;
      align-items: top;
      -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
      justify-content: space-around;
      flex-wrap: wrap; }
      .section.divisi .container .box-container .box {
        width: 40%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 20px;
        margin-bottom: 30px; }
      .section.divisi .container .box-container .content {
        text-align: center; }
        .section.divisi .container .box-container .content .logo {
          width: 100%;
          text-align: center; }
          .section.divisi .container .box-container .content .logo img {
            width: 200px; }
          .section.divisi .container .box-container .content .logo.rounded {
            margin: 0 auto;
            margin-bottom: 5px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden; }
            .section.divisi .container .box-container .content .logo.rounded img {
              width: 100%; }
        .section.divisi .container .box-container .content .title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 0px; }
          .section.divisi .container .box-container .content .title.smaller {
            font-size: 18px; }
        .section.divisi .container .box-container .content .info {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: 10px;
          margin-top: 10px; }
          .section.divisi .container .box-container .content .info span {
            width: 50%;
            height: 35px;
            display: block;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
          .section.divisi .container .box-container .content .info .sosmed-list {
            background-color: #ddd;
            padding-right: 10px;
            -webkit-box-pack: flex-end;
            -ms-flex-pack: flex-end;
            justify-content: flex-end;
            border-radius: 5px 0px 0px 5px; }
            .section.divisi .container .box-container .content .info .sosmed-list a {
              padding-top: 2px;
              font-size: 18px;
              margin-left: 10px; }
              .section.divisi .container .box-container .content .info .sosmed-list a:hover {
                opacity: 0.8; }
          .section.divisi .container .box-container .content .info .jabatan {
            color: #fff;
            background-color: #af191a;
            font-size: 12px;
            font-weight: 600;
            border-radius: 0px 5px 5px 0px;
            padding-left: 10px;
            text-align: left; }
        .section.divisi .container .box-container .content .text {
          font-size: 16px;
          color: #555; }
          .section.divisi .container .box-container .content .text .content-list {
            margin-top: 30px;
            display: block;
            text-align: left;
            list-style-type: none; }
            .section.divisi .container .box-container .content .text .content-list li {
              margin-bottom: 25px;
              position: relative;
              background-color: #333;
              color: #fff;
              padding: 5px 10px;
              border-radius: 5px; }
              .section.divisi .container .box-container .content .text .content-list li .number {
                color: #af191a;
                border: 2px solid #af191a;
                display: inline-block;
                font-weight: 700;
                width: 24px;
                height: 24px;
                font-size: 12px;
                padding-top: 1px;
                border-radius: 12px;
                text-align: center;
                position: absolute;
                top: -2px;
                left: -31px; }
              .section.divisi .container .box-container .content .text .content-list li:before {
                content: " ";
                display: block;
                position: absolute;
                top: 6px;
                left: -5px;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-right: 7px solid #333; }
              .section.divisi .container .box-container .content .text .content-list li:after {
                content: " ";
                display: block;
                position: absolute;
                height: 25px;
                width: 2px;
                border-left: 4px dotted #333;
                bottom: -25px;
                left: 50%; }
              .section.divisi .container .box-container .content .text .content-list li:last-child:after {
                display: none; }

.section.event {
  background-color: #fff;
  position: relative; }
  .section.event .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    .section.event .container .box-container {
      padding-bottom: 20px;
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap; }
      .section.event .container .box-container .box {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 20px;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .section.event .container .box-container .date {
        font-size: 35px;
        font-weight: 700;
        position: relative;
        background: #ddd;
        padding-top: 25px;
        padding-bottom: 7px;
        width: 100px;
        border-radius: 5px;
        text-align: center; }
        .section.event .container .box-container .date:after {
          content: "";
          border-radius: 5px 5px 0px 0px;
          width: 100%;
          height: 25px;
          background: #af191a;
          position: absolute;
          top: 0px;
          left: 0px; }
        .section.event .container .box-container .date small {
          font-weight: 600;
          display: block;
          color: #777;
          font-size: 11px; }
      .section.event .container .box-container .content {
        -webkit-transition: 0.1s ease-in;
        -moz-transition: 0.1s ease-in;
        -o-transition: 0.1s ease-in;
        transition: 0.1s ease-in;
        width: 700px;
        margin-left: 30px; }
        .section.event .container .box-container .content .title {
          text-align: left;
          font-size: 22px;
          font-weight: 600; }
        .section.event .container .box-container .content .location {
          text-align: left;
          color: #999; }
      .section.event .container .box-container .box:hover .content {
        transform: translateX(20px); }

.section.contact {
  background-color: #333;
  position: relative; }
  .section.contact .section-title {
    color: #fff; }
  .section.contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    .section.contact .container .box-container {
      width: 100%;
      padding-top: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -ms-flex-align: top;
      align-items: top;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-wrap: wrap; }
      .section.contact .container .box-container .box {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: top;
        -ms-flex-align: top;
        align-items: top;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        flex-wrap: wrap; }
        .section.contact .container .box-container .box.left {
          width: 50%; }
        .section.contact .container .box-container .box.right {
          width: 50%; }
      .section.contact .container .box-container .contact-list {
        margin-top: 20px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: top;
        -ms-flex-align: top;
        align-items: top;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 25px; }
        .section.contact .container .box-container .contact-list .logo {
          font-size: 20px;
          background: #fff;
          border-radius: 35px;
          padding-top: 12px;
          position: relative;
          overflow: hidden;
          color: #333;
          width: 50px;
          height: 50px;
          text-align: center;
          margin-bottom: 5px; }
          .section.contact .container .box-container .contact-list .logo i {
            position: relative;
            z-index: 1; }
          .section.contact .container .box-container .contact-list .logo:after {
            z-index: 0;
            content: " ";
            height: 55px;
            width: 140px;
            background: #af191a;
            position: absolute;
            top: -45px;
            left: -35px;
            transform: rotate(-25deg); }
        .section.contact .container .box-container .contact-list .title {
          margin-top: 10px;
          width: 350px;
          margin-left: 15px;
          text-align: center;
          display: block;
          color: #333;
          font-weight: 600;
          font-size: 16px;
          position: relative; }
          .section.contact .container .box-container .contact-list .title:before {
            position: absolute;
            top: 10px;
            left: -7px;
            content: " ";
            display: block;
            width: 0px;
            height: 0px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 8px solid #fff; }
          .section.contact .container .box-container .contact-list .title span {
            width: 350px;
            display: inline-block;
            padding: 6px 20px;
            border-radius: 5px;
            background: #eee; }

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 500px;
  height: 100vh;
  padding-bottom: 30px;
  flex-wrap: wrap; }
  .landing .landing-title {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-size: 24px;
    color: #fff; }
  .landing .landing-footer {
    text-align: center;
    width: 100%; }
  .landing .step-wizard {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap; }
    .landing .step-wizard .step-text {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
      color: #fff; }
    .landing .step-wizard .step-item {
      width: 80px;
      text-align: center; }
    .landing .step-wizard a {
      display: inline-block;
      height: 50px;
      background-color: #1b3343;
      width: 50px;
      border-radius: 25px;
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      font-size: 18px;
      padding-top: 10px;
      position: relative; }
      .landing .step-wizard a:after {
        content: " ";
        display: block;
        position: absolute;
        top: 22px;
        right: -35px;
        height: 2px;
        width: 34px;
        border-bottom: 3px dotted #fff; }
      .landing .step-wizard a:hover {
        color: #af191a;
        border-color: #af191a;
        text-decoration: none; }
      .landing .step-wizard a.active {
        background-color: #af191a;
        border-color: #af191a;
        color: #fff;
        text-decoration: none; }
    .landing .step-wizard .step-item:last-child a:after {
      display: none; }
  .landing .box-container {
    width: 100%;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    flex-wrap: wrap; }
    .landing .box-container .box {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      width: 30%;
      height: 300px;
      text-align: center;
      flex-wrap: wrap;
      position: relative; }
      .landing .box-container .box .title {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px; }
      .landing .box-container .box .text {
        height: 140px;
        margin-bottom: 20px;
        position: relative; }
        .landing .box-container .box .text .box-logo {
          position: absolute;
          bottom: -15px;
          width: 100%; }
          .landing .box-container .box .text .box-logo img {
            width: 100px; }
      .landing .box-container .box .btn-md {
        width: 295px;
        position: absolute;
        bottom: 20px;
        display: block; }
    .landing .box-container.small {
      padding-top: 0px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .landing .box-container.small .box {
        height: 200px;
        margin: 0px 15px;
        margin-bottom: 30px;
        width: 25%;
        text-decoration: none; }
        .landing .box-container.small .box .title {
          color: #333;
          font-size: 18px; }
        .landing .box-container.small .box .user-preview {
          width: 100%; }
          .landing .box-container.small .box .user-preview img {
            width: 100px; }
    .landing .box-container.extra-small {
      height: 200px;
      padding-top: 0px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .landing .box-container.extra-small .box {
        height: 100px;
        margin: 0px 20px;
        width: 15%;
        text-decoration: none; }
        .landing .box-container.extra-small .box .title {
          padding-top: 20px;
          color: #333;
          font-size: 18px; }
        .landing .box-container.extra-small .box .user-preview {
          width: 100%; }
          .landing .box-container.extra-small .box .user-preview img {
            width: 100%; }

.section-news {
  padding-bottom: 30px;
  background-color: #eee;
  position: relative; }
  .section-news.no-border {
    border-bottom: none; }
    .section-news.no-border:after {
      display: none; }
  .section-news .category-title {
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px; }
    .section-news .category-title .title {
      color: #333;
      font-size: 28px;
      font-weight: 700;
      display: inline-block;
      position: relative; }
      .section-news .category-title .title:after {
        z-index: -1;
        content: " ";
        display: block;
        position: absolute;
        right: -12px;
        bottom: 12px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #af191a; }
    .section-news .category-title .btn-expand-all {
      position: absolute;
      right: 0px; }

.main-content .box {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.45);
  background: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 5px; }
  .main-content .box .banner-img {
    transition: 0.15s ease-in;
    width: 100%;
    height: 320px; }
    .main-content .box .banner-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main-content .box .link-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 3; }
  .main-content .box .content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 120px;
    background-color: #fff;
    padding: 15px; }
    .main-content .box .content .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 10px;
      color: #333;
      text-decoration: none; }
    .main-content .box .content .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between; }
      .main-content .box .content .info span {
        color: #af191a; }
        .main-content .box .content .info span i {
          color: #aaa;
          font-size: 12px; }
  .main-content .box .category {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0px 15px;
    padding-top: 3px;
    font-size: 10px;
    font-weight: 600;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }
    .main-content .box .category.blue {
      background-color: #1e8cb7; }
    .main-content .box .category.red {
      background-color: #af191a; }
    .main-content .box .category.green {
      background-color: #07b77f; }
    .main-content .box .category.yellow {
      background-color: #e7ec1d;
      color: #333; }
  .main-content .box.horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    height: 150px; }
    .main-content .box.horizontal .title {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px; }
    .main-content .box.horizontal .banner-img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 150px;
      height: 150px; }
    .main-content .box.horizontal .content {
      width: 100%;
      margin-left: 150px;
      position: relative;
      min-height: 50px;
      transition: 0.15s ease-in;
      padding-top: 10px;
      z-index: 2;
      background-color: #fff; }
      .main-content .box.horizontal .content .info {
        position: absolute;
        bottom: 7px;
        left: 0px;
        padding: 0px 15px;
        width: 100%; }
    .main-content .box.horizontal:hover .banner-img {
      transition: 0.5s ease-in;
      transform: scale(1.1); }
    .main-content .box.horizontal:hover .content {
      bottom: 0px; }
  .main-content .box.small .title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px; }
  .main-content .box.small .banner-img {
    height: 150px; }
  .main-content .box.small .content {
    min-height: 50px;
    transition: 0.15s ease-in;
    padding-top: 10px;
    position: absolute;
    bottom: -35px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6); }
    .main-content .box.small .content .title {
      color: #fff; }
  .main-content .box.small:hover .banner-img {
    transition: 0.5s ease-in;
    transform: scale(1.1); }
  .main-content .box.small:hover .content {
    background-color: #fff;
    bottom: 0px; }
    .main-content .box.small:hover .content .title {
      color: #333; }
  .main-content .box.infografik .banner-img {
    height: 330px; }

.btn-sm {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  border-radius: 10px; }
  .btn-sm .btn-icon {
    padding-top: 3px;
    font-size: 10px;
    display: inline-block;
    border-radius: 11px;
    text-align: center;
    height: 20px;
    width: 20px;
    position: relative;
    top: -2px;
    margin-left: 10px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
    .btn-sm .btn-icon.animate {
      animation-name: bounceIn;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
  .btn-sm:hover {
    text-decoration: none; }
    .btn-sm:hover .btn-icon {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      animation: none; }
  .btn-sm.with-border {
    border: 2px solid #fff; }

.btn-md {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  border-radius: 10px; }
  .btn-md .btn-icon {
    padding-top: 3px;
    font-size: 11px;
    display: inline-block;
    border-radius: 11px;
    text-align: center;
    height: 22px;
    width: 22px;
    margin-left: 22px;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
    .btn-md .btn-icon.animate {
      animation-name: bounceIn;
      animation-duration: 3s;
      animation-iteration-count: infinite; }
  .btn-md:hover {
    text-decoration: none; }
    .btn-md:hover .btn-icon {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      animation: none; }
  .btn-md.with-border {
    border: 2px solid #fff; }

.btn-lg {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 800;
  display: inline-block;
  border-radius: 10px; }
  .btn-lg:hover {
    text-decoration: none; }
  .btn-lg.with-border {
    border: 3px solid #fff; }

.btn-primary {
  color: #fff;
  background-color: #af191a;
  border-color: #af191a;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .btn-primary .btn-icon {
    background-color: #fff;
    color: #af191a; }
  .btn-primary:hover {
    color: #fff;
    background-color: #d22f30; }

.btn-light {
  color: #af191a;
  background-color: #fff;
  border-color: #af191a;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .btn-light .btn-icon {
    background-color: #af191a;
    color: #fff; }
  .btn-light:hover {
    color: #af191a;
    background-color: #eee; }

.form-group {
  width: 100%; }

.form-group .input-cont {
  width: 100%;
  display: block;
  margin-bottom: 10px; }
  .form-group .input-cont label {
    padding-left: 5px;
    display: block;
    color: #333; }
  .form-group .input-cont input[type=text],.form-group .input-cont input[type=email], .form-group .input-cont textarea {
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 7px; }

.form-group.dark label {
  font-weight: 600;
  font-size: 18px;
  color: #fff; }
.form-group.dark input[type=text],.form-group.dark input[type=email], .form-group.dark textarea {
  background-color: #999; }
  .form-group.dark input[type=text]:focus,.form-group.dark input[type=email]:focus, .form-group.dark textarea:focus {
    background-color: #fff; }
/*
@zaky
@update
  nambahin style email yang ketinggalan
@end
*/
.footer {
  background: #e3e3e3;
  padding-top: 50px; }
  .footer .footer-box-container {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around; }
    .footer .footer-box-container .box {
      width: 20%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .footer .footer-box-container .box:last-child {
        border-right: none;
        text-align: right; }
      .footer .footer-box-container .box:first-child {
        padding-left: 0px; }
      .footer .footer-box-container .box.sosmed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        width: 80%; }
      .footer .footer-box-container .box .box-list {
        margin-bottom: 5px;
        margin-right: 20px; }
        .footer .footer-box-container .box .box-list a {
          height: 40px;
          font-size: 20px;
          padding-top: 6px;
          width: 40px;
          display: inline-block;
          text-align: center;
          background: #444;
          border-radius: 50%;
          color: #ddd;
          overflow: hidden;
          text-decoration: none;
          position: relative; }
          .footer .footer-box-container .box .box-list a:after {
            z-index: 0;
            content: " ";
            height: 55px;
            width: 100px;
            background: #af191a;
            position: absolute;
            top: -55px;
            left: -55px;
            transform: rotate(-25deg);
            z-index: 0;
            -webkit-transition: 0.15s ease-in;
            -moz-transition: 0.15s ease-in;
            -o-transition: 0.15s ease-in;
            transition: 0.15s ease-in; }
          .footer .footer-box-container .box .box-list a i {
            position: relative;
            z-index: 1; }
          .footer .footer-box-container .box .box-list a:hover {
            color: #fff; }
            .footer .footer-box-container .box .box-list a:hover:after {
              top: -35px;
              left: -35px; }
      .footer .footer-box-container .box .box-address {
        color: #888;
        padding-top: 10px;
        font-size: 13px; }
      .footer .footer-box-container .box .box-copy {
        font-size: 12px;
        color: #aaa;
        padding-top: 10px; }
        .footer .footer-box-container .box .box-copy i {
          color: #af191a; }
        .footer .footer-box-container .box .box-copy a {
          color: #777;
          font-weight: 600; }
      .footer .footer-box-container .box .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: right; }
        .footer .footer-box-container .box .logo:hover {
          text-decoration: none; }
        .footer .footer-box-container .box .logo .logo-img {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #af191a;
          width: 23px;
          position: relative;
          margin-right: 5px; }
          .footer .footer-box-container .box .logo .logo-img img {
            width: 100%; }
        .footer .footer-box-container .box .logo .logo-text {
          font-weight: 700;
          color: #555;
          font-size: 16px;
          display: inline-block; }
  .footer .back-top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 117px;
    height: 50px;
    width: 50px;
    z-index: 997;
    overflow: hidden;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    padding-top: 7px;
    box-sizing: border-box;
    color: #fff;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in; }
    .footer .back-top:after {
      content: " ";
      position: absolute;
      top: -30px;
      height: 55px;
      width: 100%;
      background: #af191a;
      left: 0px;
      z-index: 0;
      -webkit-transition: 0.15s ease-in;
      -moz-transition: 0.15s ease-in;
      -o-transition: 0.15s ease-in;
      transition: 0.15s ease-in; }
    .footer .back-top i {
      position: relative;
      z-index: 3; }
    .footer .back-top:hover {
      color: #fff;
      transform: scale(1.1);
      cursor: pointer; }
      .footer .back-top:hover:after {
        top: 0px; }

@media screen and (min-width: 480px) {
  .container {
    width: 450px; } }
@media screen and (min-width: 780px) {
  .container {
    width: 750px; } }
@media screen and (min-width: 1160px) {
  .container {
    width: 1140px; } }
@media screen and (min-width: 1386px) {
  .container {
    width: 1366px; } }
@media screen and (max-width: 1160px) {
  .nav {
    background-color: #af191a;
    position: relative; }
    .nav .nav-top-container {
      min-height: 60px;
      position: relative; }
      .nav .nav-top-container .nav-top {
        padding-top: 0px; }
      .nav .nav-top-container .menu-toggle {
        display: block;
        position: absolute;
        top: 12px;
        right: 15px; }
      .nav .nav-top-container .nav-logo {
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
      .nav .nav-top-container .nav-menu {
        padding-top: 62px;
        float: none;
        display: none; }
        .nav .nav-top-container .nav-menu > ul {
          border-top: 1px solid #aaa;
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          padding-left: 0px;
          margin: 0px; }
          .nav .nav-top-container .nav-menu > ul li {
            float: none;
            display: block;
            margin-left: 0px; }
            .nav .nav-top-container .nav-menu > ul li a:not(.btn-sm), .nav .nav-top-container .nav-menu > ul li .btn-sm {
              padding: 11px 20px;
              border-bottom: 1px solid #aaa;
              border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              background: transparent;
              background: rgba(0, 0, 0, 0.3);
              display: block;
              border-radius: 0px;
              color: #fff; }
              .nav .nav-top-container .nav-menu > ul li a:not(.btn-sm):hover, .nav .nav-top-container .nav-menu > ul li .btn-sm:hover {
                background: rgba(0, 0, 0, 0.4); }
              .nav .nav-top-container .nav-menu > ul li a:not(.btn-sm) .btn-icon, .nav .nav-top-container .nav-menu > ul li .btn-sm .btn-icon {
                background-color: #fff;
                color: #af191a; }
            .nav .nav-top-container .nav-menu > ul li .btn-md {
              background-color: #fff;
              color: #333;
              height: 44px;
              font-size: 14px;
              display: block;
              border: none;
              text-align: left;
              border-radius: 0px; }
              .nav .nav-top-container .nav-menu > ul li .btn-md:hover {
                background-color: #ddd;
                color: #666; }
                .nav .nav-top-container .nav-menu > ul li .btn-md:hover span {
                  transform: none; }
            .nav .nav-top-container .nav-menu > ul li:last-child a {
              border-bottom: none; }
            .nav .nav-top-container .nav-menu > ul li.has-sub:after {
              right: 20px;
              top: 10px; }
            .nav .nav-top-container .nav-menu > ul li.has-sub .sub-menu {
              position: relative;
              margin-top: 0px; }
              .nav .nav-top-container .nav-menu > ul li.has-sub .sub-menu a {
                padding: 10px 20px;
                padding-left: 30px;
                background: transparent;
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                border-bottom: 1px solid #444; }

  .banner {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 400px; }
    .banner .layer-overlay {
      height: 400px; }
    .banner .banner-container {
      width: 100%; }
    .banner .text-banner {
      padding: 0px 10px;
      font-size: 22px; }
    .banner .text-banner-detail {
      padding: 0px 10px; }

  .section.intro .box-container .box.content .content-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px; }
    .section.intro .box-container .box.content .content-title .content-title-icon div {
      width: 35px;
      height: 35px;
      font-size: 16px;
      border-width: 2px; }
  .section.intro .box-container .box.content .content-body {
    margin-bottom: 10px;
    font-size: 14px; }
  .section.intro .box-container .box.illustration {
    display: none; }
  .section.intro .box-container .box.content .content-footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .section.divisi .container .box-container .content {
    width: 100%; }

  .section.event .container .box-container {
    padding: 0px 10px;
    width: 100%; }
    .section.event .container .box-container .box {
      padding: 0px 0px; }
      .section.event .container .box-container .box .date {
        font-size: 20px;
        width: 90px; }
        .section.event .container .box-container .box .date:after {
          height: 20px; }
      .section.event .container .box-container .box .content {
        width: 70%; }

  .section.contact .container .box-container .box.left {
    width: 100%; }
  .section.contact .container .box-container .box.right {
    padding: 0px 10px;
    width: 100%; }
  .section.contact .container .box-container .contact-list {
    margin: 10px 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .section.contact .container .box-container .contact-list .title {
      margin: 0px;
      margin-top: 10px;
      width: 1000%;
      padding: 0px 10px; }
      .section.contact .container .box-container .contact-list .title span {
        width: 100%; }
      .section.contact .container .box-container .contact-list .title:before {
        display: none; }

  .main-content {
    margin-bottom: 30px;
    padding: 0px 10px; }
    .main-content .box.small, .main-content .box.horizontal {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: space-between;
      -ms-flex-align: space-between;
      align-items: space-between;
      flex-wrap: wrap;
      height: 150px; }
      .main-content .box.small .title, .main-content .box.horizontal .title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px; }
      .main-content .box.small .banner-img, .main-content .box.horizontal .banner-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 150px;
        height: 150px; }
      .main-content .box.small .content, .main-content .box.horizontal .content {
        width: 100%;
        margin-left: 150px;
        position: relative;
        min-height: 50px;
        transition: 0.15s ease-in;
        padding-top: 10px;
        z-index: 2;
        background-color: #fff;
        bottom: 0px; }
        .main-content .box.small .content .title, .main-content .box.horizontal .content .title {
          color: #333; }
        .main-content .box.small .content .info, .main-content .box.horizontal .content .info {
          position: absolute;
          bottom: 7px;
          left: 0px;
          padding: 0px 15px;
          width: 100%;
          font-size: 10px; }

  .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse; }
    .content-wrapper .sidebar {
      margin-top: 0px;
      position: relative;
      width: 100%; }
    .content-wrapper .news-wrapper {
      margin-right: 0px; }

  .footer .back-top {
    display: none !important; }
  .footer .footer-box-container .box.sosmed {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0px; }
    .footer .footer-box-container .box.sosmed .box-list {
      margin: 0px 10px; }
  .footer .footer-box-container .box:last-child {
    text-align: center; } }
@media screen and (max-width: 780px) {
  .container {
    padding-right: 0px;
    padding-left: 0px; }

  .boxtab .tab-body .tab-content {
    overflow-x: scroll; }
  .boxtab .tab-header .tab-btn {
    font-size: 14px; }

  .nav .sub-nav-top .current-btc-price {
    display: none; }
  .nav .banner-container {
    width: 100%; }
  .nav .banner {
    padding-bottom: 20px; }
    .nav .banner .text-banner {
      padding: 15px;
      font-size: 20px; }
    .nav .banner .text-banner-detail {
      padding: 15px;
      font-size: 15px; }

  .section {
    padding-top: 20px;
    padding-bottom: 20px; }
    .section .section-title {
      font-size: 24px;
      padding: 0px 15px; }
    .section .section-sub-title {
      padding: 0px 15px; }

  .section.intro {
    height: auto;
    padding: 20px 0px; }
    .section.intro .container .box-container {
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 100%; }
      .section.intro .container .box-container .box {
        margin-bottom: 20px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px; }

  .section.prevention {
    height: auto;
    padding: 20px 0px; }
    .section.prevention .container .box-container {
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 100%; }
      .section.prevention .container .box-container .box {
        margin-bottom: 20px;
        width: 100%;
        padding: 0px 15px; }

  .section.faq {
    height: auto;
    padding: 20px 0px; }
    .section.faq .container .box-container {
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 100%; }
      .section.faq .container .box-container .content {
        height: auto; }
        .section.faq .container .box-container .content .question-wrapper {
          margin-bottom: 40px; }
      .section.faq .container .box-container .box {
        margin-bottom: 20px;
        width: 100%;
        padding: 0px 15px; }
        .section.faq .container .box-container .box.logo-question {
          padding-bottom: 20px;
          order: 1; }
        .section.faq .container .box-container .box.left {
          order: 2; }
        .section.faq .container .box-container .box.right {
          order: 3; }

  .section.symptoms {
    height: auto;
    padding: 20px 0px; }
    .section.symptoms .container .box-container {
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 100%; }
      .section.symptoms .container .box-container .content {
        padding-left: 0px;
        padding-right: 0px; }
        .section.symptoms .container .box-container .content .title {
          font-size: 18px;
          padding-right: 15px; }
      .section.symptoms .container .box-container .box {
        margin-bottom: 20px;
        width: 100%; }

  .section.nearby {
    height: auto;
    padding: 20px 0px; }
    .section.nearby .container .box-container {
      flex-wrap: wrap;
      padding-bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%; }
      .section.nearby .container .box-container .box {
        margin-bottom: 20px;
        width: 100%; }
        .section.nearby .container .box-container .box .logo {
          display: none; }
        .section.nearby .container .box-container .box .text {
          width: 100%; }
          .section.nearby .container .box-container .box .text:after {
            display: none; }

  .footer .footer-box-container {
    padding-bottom: 0px;
    flex-wrap: wrap; }
    .footer .footer-box-container .box {
      width: 100%;
      border-right: none;
      padding-left: 15px;
      margin-bottom: 20px; }
      .footer .footer-box-container .box:first-child {
        padding-left: 15px; }
      .footer .footer-box-container .box:last-child {
        text-align: center;
        padding-left: 15px; }
      .footer .footer-box-container .box .logo {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
  .footer .footer-bottom {
    font-size: 10px;
    padding: 0px 15px;
    padding-bottom: 20px;
    text-align: left; }

  .landing {
    height: auto;
    padding-bottom: 30px; }
    .landing .step-wizard {
      margin-bottom: 30px; }
    .landing .box-container {
      margin: 0px 20px; }
      .landing .box-container .box {
        margin-bottom: 10px;
        width: 100%; }
      .landing .box-container.small {
        margin-bottom: 20px; }
        .landing .box-container.small .box {
          margin-bottom: 10px;
          width: 100%; }
      .landing .box-container.extra-small {
        margin-bottom: 20px;
        height: auto; }
        .landing .box-container.extra-small .box {
          margin-bottom: 10px;
          width: 100%; } }

/*# sourceMappingURL=main-style.css.map */
